<div class="modal-header">
	<button type="button" class="close" ng-click="vm.cancel()">&times;</button>
	<h4 class="modal-title">Login</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-9 col-md-offset-2">
			<errors-list errors="vm.errors"></errors-list>
			<!-- Login Form -->
			<form name="form" class="form-horizontal" novalidate ng-submit="form.$valid && vm.login()">
				<!-- Email Field -->
				<div class="form-group has-feedback">
					<label for="email" class="control-label col-sm-2">Email: </label>
					<div class="col-sm-10">
						<input type="email" id="email" class="form-control" name="email"
							   ng-model="vm.username" ng-model-options="{updateOn: 'blur'}"
							   required form-field-error />
					</div>
					<div class="col-sm-10 col-sm-offset-2 form-error-messages"
						 ng-messages="form.email.$error">
						<strong class="text-danger" ng-message="required">
							The email field is required
						</strong>
						<strong class="text-danger" ng-message="email">
							The email field is not a valid email
						</strong>
					</div>
				</div>
				<!-- Password Field -->
				<div class="form-group has-feedback">
					<label for="password" class="control-label col-sm-2">Password:</label>
					<div class="col-sm-10">
						<input type="password" id="password" class="form-control" name="password"
							   ng-model="vm.password" ng-model-options="{updateOn: 'blur'}"
							   required ng-minlength="6" form-field-error />
					</div>
					<div class="col-sm-10 col-sm-offset-2 form-error-messages"
						 ng-messages="form.password.$error">
						<strong class="text-danger" ng-message="required">
							The password field is required
						</strong>
						<strong class="text-danger" ng-message="minlength">
							The password must be at least six characters
						</strong>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-sm-offset-2 col-xs-8">
						<button class="btn btn-primary btn-block">
							<i class="fa fa-paper-plane"></i>
							Login
						</button>
					</div>
					<i class="fa fa-spinner fa-spin fa-2x" ng-show="vm.isSending"
					   disable-ng-animation></i>
				</div>
			</form>
		</div>
	</div>
</div>