<div infinite-scroll="vm.loadMore()">
	<div>
		<div class="form-group">
			<input type="text" class="books-search-input form-control" enter-press="vm.search()"
					ng-model="vm.query.value"
					placeholder="Enter keyword (book name, description, category)..."/>
			<button class="btn btn-primary" ng-disabled="vm.sending">
				<i class="fa fa-search"></i>
			</button>
		</div>
		<h4 class="bold text-danger if" ng-if="vm.query.invalid">Enter at least three letters</h4>
	</div>
	<div class="row books-search-content">
		<books-list books="vm.books"></books-list>
	</div>
</div>